.portada {
    background-color: rgb(255, 255, 255); 
    text-align: center; 
    font-family: Arial, sans-serif; 
    display: grid; /* Utiliza el sistema de cuadrícula CSS para el diseño del contenedor */
    justify-content: space-around; /* Distribuye los elementos dentro del contenedor de manera equitativa */
}


element{
    --main-bg-color:black !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 248, 248); 
}

.titulo {
    background-color: var(--main-bg-color); 
}

.prin {
    width: 450px; /* Define un ancho fijo de 200 píxeles para la imagen o elemento con esta clase */
    height: 350px; /* Define una altura fija de 150 píxeles */
    display: block; /* Hace que el elemento sea un bloque, ocupando todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente el elemento */
}

.button {
    border-radius: 5px; /* Redondea las esquinas del botón */
    background-color: #0c0c0c; 
    border: solid; /* Aplica un borde sólido al botón */
    display: block; /* Hace que el botón sea un bloque, ocupando todo el ancho disponible */
    margin: 10px 0; 
    color: #f0f2f7; 
    text-decoration: none; /* Elimina cualquier subrayado o estilo de enlace en el texto del botón */
    padding: 1rem; /* Añade un relleno de 1 rem alrededor del contenido del botón */

    &:hover {
        text-decoration: underline; /* Añade un subrayado al texto del botón cuando el cursor está sobre él */
    }
}