body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 20px; /* Ajusta el margen superior del h1 si es necesario */
}

.car-image {
    display: block; /* Para que la imagen sea un bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen */
    padding-bottom: 20px; /* Espacio inferior para separar del h1 */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group.full-width {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #4e4e4e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2a2b2a;
    color: #ffffff;
}

/* Estilo para los enlaces al final del formulario */
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link-group {
    flex: 1;
    text-align: center;
}

.link-group a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.link-group a:hover {
    text-decoration: underline;
}

/* Estilo para el pie de página */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f1f1f1;
}

.footer-links {
    font-size: 12px; /* Tamaño de texto más pequeño */
    color: gray; /* Color gris */
}

.footer-links a {
    color: gray; /* Color gris para los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin: 0 5px;
}

.footer-links a:hover {
    color: darkgray; /* Color más oscuro al pasar el cursor */
    text-decoration: underline; /* Subrayado al pasar el cursor */
}
.copy-text {
    font-size: 12px; /* Tamaño de texto más pequeño */
    color: gray; /* Color gris */
    margin-top: 10px; /* Espacio superior */
}
