/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background: #797779;
    color: #faf5f5;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Contenido principal */
main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

/* Pie de página */
footer {
    background: #797779;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    footer {
        position: relative;
    }
}
